{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">Books Management</h1>
    <input type="button" class="btn btn-info" data-url="{% url "createBook" %}" id="createBookForm"  value="Add Books">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Sr#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Page</th>
            <th>Price</th>
            <th>Publication Date</th>

            <th>Action</th>
        </tr>

        </thead>
        <tbody>

        {% include "booksRow.html" %}

        </tbody>
    </table>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

{% endblock %}